/* css styles */


.red {
  color: #de2d26;
  font-weight: bold;
}

.blue {
  color: #133b61;
  font-weight: bold;
}

.purple {
  color: #8b72be;
  font-weight: bold;
}

.yellow {
  color: #eac736;
  font-weight: bold;
}

.caption {
  font-size: 12px;
  line-height: 2px;
}